@model IEnumerable<GestorDeRestaurante.Model.MenuIngredientes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GananciaAproximada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GananciaAproximada)
            </td>
            <td>
                @Html.ActionLink("Edit", "Ingredientes", new { /* id=item.PrimaryKey */ }) 
            </td>
        </tr>
}
    </tbody>
</table>
